p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
ul {
  list-style-type: none;
}
